body {
    margin: 0;
    padding: 0;
    background-color: #5e78e0;
  }
  
  





  .b-1{
    margin-top: 20px;
    display: flex;
    height: 70px;
    margin-left: 30px;
    margin-right: 30px;
  width: 100%;
  }
  
  
  
  
  .im1 img {
    width: 300px; 
    height: 220px;
    object-fit: cover;
    object-position: center;
    margin: 0 0.3%;
      display: flex;
      align-items: center;
      justify-content: center;
     font-size: 2em;
      color: white;
  }
  
  
  
  
  
  
  
  
  
  
  .b-6{
    background-color: #b6b6b6;
    opacity: 0;
    margin-top:-250px ;
    width: 300px; 
    height: 220px;
  
  }
  
  .b-7{
    color: #000000;
    font-size: 1.4em;
    width: 80%;
  margin-top: 30px;
  margin-left: 10%;
  }
  
  .b-6:hover{
  opacity: 0.8;
  }
  
  
  
  .b-8{
    background-color: #b6b6b6;
    opacity: 0;
    margin-top:-250px ;
    width: 300px; 
    height: 220px;
  
  }
  
  .b-9{
    color: #000000;
    font-size: 1.4em;
    width: 80%;
  margin-top: 30px;
  margin-left: 10%;
  }
  
  .b-8:hover{
  opacity: 0.8;
  }
  
  .b-10{
    background-color: #b6b6b6;
    opacity: 0;
    margin-top:-250px ;
    width: 300px; 
    height: 220px;
  
  }
  
  .b-11{
    color: #000000;
    font-size: 1.4em;
    width: 80%;
  margin-top: 30px;
  margin-left: 10%;
  }
  
  .b-10:hover{
  opacity: 0.8;
  }
  
  .b-12{
    background-color: #b6b6b6;
    opacity: 0;
    margin-top:-250px ;
    width: 300px; 
    height: 220px;
  
  }
  
  .b-13{
    color: #000000;
    font-size: 1.4em;
    width: 80%;
  margin-top: 30px;
  margin-left: 10%;
  }
  
  .b-12:hover{
  opacity: 0.8;
  }
  
  
  .b-14{
    background-color: #b6b6b6;
    opacity: 0;
    margin-top:-250px ;
    width: 300px; 
    height: 220px;
  
  }
  
  .b-15{
    color: #000000;
    font-size: 1.4em;
    width: 80%;
  margin-top: 30px;
  margin-left: 10%;
  }
  
  .b-14:hover{
  opacity: 0.8;
  }
  
  .b-16{
    background-color: #b6b6b6;
    opacity: 0;
    margin-top:-250px ;
    width: 300px; 
    height: 220px;
  
  }
  
  .b-17{
    color: #000000;
    font-size: 1.4em;
    width: 80%;
  margin-top: 30px;
  margin-left: 10%;
  }
  
  .b-16:hover{
  opacity: 0.8;
  }
  
  
  
  
  
  
  
  
  .navbar1 {
    overflow: hidden;
    background-color: #fffdfd;
    font-family: Arial, Helvetica, sans-serif;
    width: 80px;
    height: 35px;
    border-radius: 50px;
  border:solid 2px;
  margin-top: 20px;
    
  }
  
  .navbar1 a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown1 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown1 .dropbtn1 {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  
  }
  
  
  
  .dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #929294;
    min-width: 31.5%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    opacity: 0.9;
      
  }
  
  .dropdown-content1 a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
    width: 50%;
  }
  
  
  .show1 {
    display: block;
  }
  
  .b-24{
    font-size: 1.1em;
    margin-top: -5px;
  }
  
  
  .b-2{
  display: flex;
  }
  
  .b-3{
    display: flex;
  }
  
  .b-4{
    display: flex;
  }
  
  
  
  
  
  
  
  
  
  .navbar2 {
    overflow: hidden;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    width: 80px;
    height: 35px;
    border-radius: 50px;
  border:solid 2px;
  margin-top: 20px;
    margin-left: 100px;
  }
  
  .navbar2 a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown2 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown2 .dropbtn2 {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  
  }
  
  
  
  .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #929294;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    opacity: 0.9;
      
  }
  
  .dropdown-content2 a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin-left: 14%;
    width: 17%;
    margin-right: -14%;
  }
  
  
  
  .show2 {
    display: block;
    display: flex;
  }
  
  .b-18{
    color: #ffffff;
    font-size: 1.1em;
    margin-top: -5px;
    margin-left: -6px;
  
  }
  
  
  
  .im2 img{
    width: 100%;
    height: 280px;
    border-radius: 8em;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  
  .im2:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  .im3 img{
    width: 100%;
    height: 280px;
    border-radius: 8em;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  
  .im3:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  .im4 img{
    width: 100%;
    height: 280px;
    border-radius: 8em;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  
  .im4:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  
  
  
  
  
  
  
  
  .navbar3 {
    overflow: hidden;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    width: 80px;
    height: 35px;
    border-radius: 50px;
  border:solid 2px;
  margin-top: 20px;
    margin-left: 100px;
  }
  
  .navbar3 a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown3 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown3 .dropbtn3 {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  
  }
  
  
  
  .dropdown-content3 {
    display: none;
    position: absolute;
    background-color: #929294;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    opacity: 0.9;
      
  }
  
  .dropdown-content3 a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin-left: 26%;
    width: 17%;
    margin-right: -26%;
  }
  
  
  
  .show3 {
    display: block;
    display: flex;
  }
  
  .b-19{
    color: #ffffff;
    font-size: 1.1em;
    margin-top: -5px;
    margin-left: -6px;
  }
  
  
  
  .im5 img{
    width: 100%;
    height: 280px;
    border-radius: 8em;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  
  .im5:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  .im6 img{
    width: 100%;
    height: 280px;
    border-radius: 8em;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  
  .im6:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  .im7 img{
    width: 100%;
    height: 280px;
    border-radius: 8em;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  
  .im7:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  
  
  
  
  
  
  
  
  
  
  
  .im8 img{
  width: 70px;
  margin-left: 830px;
  border-radius: 10em;
  }
  
  .im9 img{
    width: 70px;
    margin-left: 16px;
    border-radius: 10em;
  }
  
  
  
  
  .navbar4 {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
  margin-top: -15px;
  }
  
  .navbar4 a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown4 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown4 .dropbtn4 {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  
  }
  
  
  
  .dropdown-content4 {
    display: none;
    position: absolute;
    width: 25%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    opacity: 0.9;
      background-color: #454343;
      margin-left: 75%;
      margin-top: -17px;
      margin-bottom: 10px;
  }
  
  .dropdown-content4 a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%;
    margin-right: -14%;
  }
  
  
  
  .show4 {
    display: block;
  }
  
  
  .b-20{
   
    display: flex;
  }
  
  .im10 img{
    width: 130px;
    border-radius: 10em;
  }
  
  .b-21{
    margin-left: 10%;
    width: 80%;
    height: 40px;
    border : solid rgb(255, 255, 255) 3px;
  }
  
  .b-22{
    color: #ffffff;
    font-size: 1.6em;
    margin-left: 10px;
    margin-top: -400px;
  }
  
  .navbar5 {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
  margin-top: -15px;
  }
  
  .navbar5 a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown5 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown5 .dropbtn5 {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  
  }
  
  
  
  .dropdown-content5 {
    display: none;
    position: absolute;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    opacity: 0.9;
      background-color: #454343;
      margin-top: 5px;
  }
  
  .dropdown-content5 a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%;
    margin-right: -14%;
  }
  
  
  
  .show5 {
    display: block;
  }
  









  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .b-s1{
    border: solid 1px;
    width: 40%;
    height: 320px;
    margin-left: 33%;
    margin-top: 30px;
    background-color: #ffffff;
  }
  
  
  
  .b-s2{
  display: flex;
  margin-left: 12.5%;
  margin-top: 10px;
  
  }
  
  .b-s3{
    width: 300px;
    height: 200px;
    margin-top: -15px;
    margin-left: -17px;
  }
  

.ima1 img{
  width: 230px;
 margin-top: -12px;
}


  .navbar8 {
    margin-left: 5.5px;
    overflow: hidden;
    width: 301.5px;
    height: 200px;
    border: solid 1px;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar8 a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown8 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown8 .dropbtn8 {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  
  }
  
  
  
  .dropdown-content8 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 60.2%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    opacity: 0.9;
      margin-left: 12.9%;
      margin-top: -15px;
  }
  
  .dropdown-content8 a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 50%;
  }
  
  .show8 {
    display: block;
  }
  
  .b-s4{
    display: flex;
  }
  




















.ima4 img{
  width: 80px;
height: 80px;
margin-top: -5px;
   margin-left:-5px ; 
}


  .b-s5{
    width: 70px;
    height: 70px;
  background-color: #ffffff;
  margin-top: -2px;
    margin-left: -8px;
  } 
  

  
  .navbar9 {
    overflow: hidden; 
    width: 70px;
    height: 70px;
    border: solid 2px;
    border-radius: 100%;
    margin-top: 5px;
    margin-left: 15px;
  
  }
  
  .navbar9 a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown9 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown9.dropbtn9 {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  
  }
  
  
  
  .dropdown-content9 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 32.2%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    opacity: 10;
   
      margin-top: -624.5px;
      height: 320px;
  }
  
  .dropdown-content9 a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 50%;
  }
  
  .show9 {
    display: block;
  }













 


 .b-s6 {
    display: flex
  }

 .ima5 img{
    width: 115px;
  height: 115px;
  margin-top: 10px;
     margin-left:-205px ; 
  } 
  
  .b-s7 {
    width: 350px;
    height: 150px;
    margin-top: -20px;
    margin-left: -20px;
  background-color: #ffffff;
  }
  
  
  
  
  .navbar10 {
    overflow: hidden; 
    width: 41%;
    height: 100px;
    border: solid 2px;
    margin-top: 15px;
    margin-left: 15px;
  }
  

  .navbar10 a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown10 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown10.dropbtn10 {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  
  }
  
  
  
  .dropdown-content10 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    opacity: 10;
   margin-left: 930px;
      margin-top: -128px;
      height: 320px;
      
  }
  
  .dropdown-content10 a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%;
  }
  
  .show10 {
    display: block;
  }

  
  .b-s8 {
    width: 20px;
    height: 20px;
    border: solid 2px;
    margin-top: 20px;
    margin-left: 15px;
    transition: background-color 0.3s ease;
  }
  
 
  










 


  
  .ima6 img{
    width: 115px;
  height: 115px;
  margin-top: 10px;
     margin-left:-205px ; 
  } 
  
  .b-s9 {
    width: 350px;
    height: 150px;
    margin-top: -20px;
    margin-left: -20px;
  background-color: #ffffff;
  }
  
  
  
  
  .navbar11 {
    overflow: hidden;
    width: 41%;
    height: 100px;
    border: solid 2px;
    margin-top: 15px;
    margin-left: 15px;
  }
  

  .navbar11 a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown11 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown11.dropbtn11 {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  
  }
  
  
  
  .dropdown-content11 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    opacity: 10;
   margin-left: 930px;
      margin-top: -128px;
      height: 320px;
      
  }
  
  .dropdown-content11 a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%;
  }
  
  .show11 {
    display: block;
  }

  
  .b-s10 {
    width: 20px;
    height: 20px;
    border: solid 2px;
    margin-top: 20px;
    margin-left: 15px;
    transition: background-color 0.3s ease;
  }
  
















 


  
  .ima7 img{
    width: 115px;
  height: 115px;
  margin-top: 10px;
     margin-left:-205px ; 
  } 
  
  .b-s11 {
    width: 350px;
    height: 150px;
    margin-top: -20px;
    margin-left: -20px;
  background-color: #ffffff;
  }
  
  
  
  
  .navbar12 {
    overflow: hidden;
    width: 41%;
    height: 100px;
    border: solid 2px;
    margin-top: 15px;
    margin-left: 15px;
  }
  

  .navbar12 a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown12 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown12.dropbtn12 {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  
  }
  
  
  
  .dropdown-content12 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    opacity: 10;
   margin-left: 930px;
      margin-top: -128px;
      height: 320px;
      
  }
  
  .dropdown-content12 a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%;
  }
  
  .show12 {
    display: block;
  }

  
  .b-s12 {
    width: 20px;
    height: 20px;
    border: solid 2px;
    margin-top: 20px;
    margin-left: 15px;
    transition: background-color 0.3s ease;
  }
  









 


  
  .ima8 img{
    width: 115px;
  height: 115px;
  margin-top: 10px;
     margin-left:-205px ; 
  } 
  
  .b-s13 {
    width: 350px;
    height: 150px;
    margin-top: -20px;
    margin-left: -20px;
  background-color: #ffffff;
  }
  
  
  
  
  .navbar13 {
    overflow: hidden;
    width: 41%;
    height: 100px;
    border: solid 2px;
    margin-top: 15px;
    margin-left: 15px;
  }
  

  .navbar13 a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown13 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown13.dropbtn13 {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  
  }
  
  
  
  .dropdown-content13 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    opacity: 10;
   margin-left: 930px;
      margin-top: -128px;
      height: 320px;
      
  }
  
  .dropdown-content13 a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%;
  }
  
  .show13 {
    display: block;
  }

  
  .b-s14 {
    width: 20px;
    height: 20px;
    border: solid 2px;
    margin-top: 20px;
    margin-left: 15px;
    transition: background-color 0.3s ease;
  }
  











  


























  .b-s15{
    width: 70px;
    height: 70px;
  background-color: #ffffff;
  margin-top: -2px;
    margin-left: -8px;
  }
  

  
  .navbar14 {
    overflow: hidden;
    width: 70px;
    height: 70px;
    border: solid 2px;
    border-radius: 100%;
    margin-top: 5px;
    margin-left: 15px;
  
  }
  
  .navbar14 a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown14 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown14.dropbtn14 {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  
  }
  
  
  
  .dropdown-content14 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 32.2%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    opacity: 10;
   
    margin-top: -618.5px;
      height: 320px;
  }
  
  .dropdown-content14 a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 50%;
  }
  
  .show14 {
    display: block;
  }


















  
  .b-s16 {
    width: 150px;
    height: 100px;
    margin-top: 5px;
    margin-left: 15px;
  
  }
  
  
  
  
  .navbar15 {
    overflow: hidden;
    width: 41%;
    height: 100px;
    border: solid 2px;
    margin-top: 15px;
    margin-left: 15px;
  }
  

  .navbar15 a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown15 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown15.dropbtn15 {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  
  }
  
  
  
  .dropdown-content15 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    opacity: 10;
   margin-left: 930px;
      margin-top: -128px;
      height: 320px;
      
  }
  
  .dropdown-content15 a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%;
  }
  
  .show15 {
    display: block;
  }

  
  .b-s17 {
    width: 20px;
    height: 20px;
    border: solid 2px;
    margin-top: 20px;
    margin-left: 15px;
    transition: background-color 0.3s ease;
  }
  
 
  










 


  
  .b-s18 {
    width: 150px;
    height: 100px;
    margin-top: 5px;
    margin-left: 15px;
  
  }
  
  
  
  
  .navbar16 {
    overflow: hidden;
    width: 41%;
    height: 100px;
    border: solid 2px;
    margin-top: 15px;
    margin-left: 15px;
  }
  

  .navbar16 a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown16 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown16.dropbtn16 {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  
  }
  
  
  
  .dropdown-content16 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    opacity: 10;
   margin-left: 930px;
      margin-top: -128px;
      height: 320px;
      
  }
  
  .dropdown-content16 a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%;
  }
  
  .show16 {
    display: block;
  }

  
  .b-s19 {
    width: 20px;
    height: 20px;
    border: solid 2px;
    margin-top: 20px;
    margin-left: 15px;
    transition: background-color 0.3s ease;
  }
  
















 


  
  .b-s20 {
    width: 150px;
    height: 100px;
    margin-top: 5px;
    margin-left: 15px;
  
  }
  
  
  
  
  .navbar17 {
    overflow: hidden;
    width: 41%;
    height: 100px;
    border: solid 2px;
    margin-top: 15px;
    margin-left: 15px;
  }
  

  .navbar17 a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown17 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown17.dropbtn17 {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  
  }
  
  
  
  .dropdown-content17 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    opacity: 10;
   margin-left: 930px;
      margin-top: -128px;
      height: 320px;
      
  }
  
  .dropdown-content17 a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%;
  }
  
  .show17 {
    display: block;
  }

  
  .b-s21 {
    width: 20px;
    height: 20px;
    border: solid 2px;
    margin-top: 20px;
    margin-left: 15px;
    transition: background-color 0.3s ease;
  }
  









 


  
  .b-s22 {
    width: 150px;
    height: 100px;
    margin-top: 5px;
    margin-left: 15px;
  
  }
  
  
  
  
  .navbar18 {
    overflow: hidden;
    width: 41%;
    height: 100px;
    border: solid 2px;
    margin-top: 15px;
    margin-left: 15px;
  }
  

  .navbar18 a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown18 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown18.dropbtn18 {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  
  }
  
  
  
  .dropdown-content18 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    opacity: 10;
   margin-left: 930px;
      margin-top: -128px;
      height: 320px;
      
  }
  
  .dropdown-content18 a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%;
  }
  
  .show18 {
    display: block;
  }

  
  .b-s23 {
    width: 20px;
    height: 20px;
    border: solid 2px;
    margin-top: 20px;
    margin-left: 15px;
    transition: background-color 0.3s ease;
  }














































  

  .b-s24{
    width: 70px;
    height: 70px;
  background-color: #ffffff;
  margin-top: -2px;
    margin-left: -8px;
  }
  

  
  .navbar19 {
    overflow: hidden;
    width: 70px;
    height: 70px;
    border: solid 2px;
    border-radius: 100%;
    margin-top: 5px;
    margin-left: 15px;
  
  }
  
  .navbar19 a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown19 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown19.dropbtn19 {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  
  }
  
  
  
  .dropdown-content19 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 32.2%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    opacity: 10;
   
    margin-top: -618.5px;
      height: 320px;
  }
  
  .dropdown-content19 a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 50%;
  }
  
  .show19 {
    display: block;
  }



















  
  .b-s25 {
    width: 150px;
    height: 100px;
    margin-top: 5px;
    margin-left: 15px;
  
  }
  
  
  
  
  .navbar20 {
    overflow: hidden;
    width: 41%;
    height: 100px;
    border: solid 2px;
    margin-top: 15px;
    margin-left: 15px;
  }
  

  .navbar20 a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown20 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown20.dropbtn20 {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  
  }
  
  
  
  .dropdown-content20 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    opacity: 10;
   margin-left: 930px;
      margin-top: -128px;
      height: 320px;
      
  }
  
  .dropdown-content20 a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%;
  }
  
  .show20 {
    display: block;
  }

  
  .b-s26 {
    width: 20px;
    height: 20px;
    border: solid 2px;
    margin-top: 20px;
    margin-left: 15px;
    transition: background-color 0.3s ease;
  }
  
 
  










 


  
  .b-s27 {
    width: 150px;
    height: 100px;
    margin-top: 5px;
    margin-left: 15px;
  
  }
  
  
  
  
  .navbar21 {
    overflow: hidden;
    width: 41%;
    height: 100px;
    border: solid 2px;
    margin-top: 15px;
    margin-left: 15px;
  }
  

  .navbar21 a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown21 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown21.dropbtn21 {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  
  }
  
  
  
  .dropdown-content21 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    opacity: 10;
   margin-left: 930px;
      margin-top: -128px;
      height: 320px;
      
  }
  
  .dropdown-content21 a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%;
  }
  
  .show21 {
    display: block;
  }

  
  .b-s28 {
    width: 20px;
    height: 20px;
    border: solid 2px;
    margin-top: 20px;
    margin-left: 15px;
    transition: background-color 0.3s ease;
  }
  
















 


  
  .b-s29 {
    width: 150px;
    height: 100px;
    margin-top: 5px;
    margin-left: 15px;
  
  }
  
  
  
  
  .navbar22 {
    overflow: hidden;
    width: 41%;
    height: 100px;
    border: solid 2px;
    margin-top: 15px;
    margin-left: 15px;
  }
  

  .navbar22 a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown22 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown22.dropbtn22 {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  
  }
  
  
  
  .dropdown-content22 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    opacity: 10;
   margin-left: 930px;
      margin-top: -128px;
      height: 320px;
      
  }
  
  .dropdown-content22 a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%;
  }
  
  .show22 {
    display: block;
  }

  
  .b-s30 {
    width: 20px;
    height: 20px;
    border: solid 2px;
    margin-top: 20px;
    margin-left: 15px;
    transition: background-color 0.3s ease;
  }
  









 


  
  .b-s31 {
    width: 150px;
    height: 100px;
    margin-top: 5px;
    margin-left: 15px;
  
  }
  
  
  
  
  .navbar23 {
    overflow: hidden;
    width: 41%;
    height: 100px;
    border: solid 2px;
    margin-top: 15px;
    margin-left: 15px;
  }
  

  .navbar23 a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown23 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown23.dropbtn23 {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  
  }
  
  
  
  .dropdown-content23 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    opacity: 10;
   margin-left: 930px;
      margin-top: -128px;
      height: 320px;
      
  }
  
  .dropdown-content23 a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%;
  }
  
  .show23 {
    display: block;
  }

  
  .b-s32 {
    width: 20px;
    height: 20px;
    border: solid 2px;
    margin-top: 20px;
    margin-left: 15px;
    transition: background-color 0.3s ease;
  }
  
  
 
  
  
  









































  .b-s33{
    width: 70px;
    height: 70px;
  background-color: #ffffff;
  margin-top: -2px;
    margin-left: -8px;
  }
  

  
  .navbar24 {
    overflow: hidden;
    width: 70px;
    height: 70px;
    border: solid 2px;
    border-radius: 100%;
    margin-top: 5px;
    margin-left: 15px;
  
  }
  
  .navbar24 a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown24 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown24.dropbtn24 {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  
  }
  
  
  
  .dropdown-content24 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 32.2%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    opacity: 10;
   
    margin-top: -618.5px;
      height: 320px;
  }
  
  .dropdown-content24 a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 50%;
  }
  
  .show24 {
    display: block;
  }


















  
  .b-s34 {
    width: 150px;
    height: 100px;
    margin-top: 5px;
    margin-left: 15px;
  
  }
  
  
  
  
  .navbar25 {
    overflow: hidden;
    width: 41%;
    height: 100px;
    border: solid 2px;
    margin-top: 15px;
    margin-left: 15px;
  }
  

  .navbar25 a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown25 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown25.dropbtn25 {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  
  }
  
  
  
  .dropdown-content25 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    opacity: 10;
   margin-left: 930px;
      margin-top: -128px;
      height: 320px;
      
  }
  
  .dropdown-content25 a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%;
  }
  
  .show25 {
    display: block;
  }

  
  .b-s35 {
    width: 20px;
    height: 20px;
    border: solid 2px;
    margin-top: 20px;
    margin-left: 15px;
    transition: background-color 0.3s ease;
  }
  
 
  










 


  
  .b-s36 {
    width: 150px;
    height: 100px;
    margin-top: 5px;
    margin-left: 15px;
  
  }
  
  
  
  
  .navbar26 {
    overflow: hidden;
    width: 41%;
    height: 100px;
    border: solid 2px;
    margin-top: 15px;
    margin-left: 15px;
  }
  

  .navbar26 a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown26 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown26.dropbtn26 {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  
  }
  
  
  
  .dropdown-content26 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    opacity: 10;
   margin-left: 930px;
      margin-top: -128px;
      height: 320px;
      
  }
  
  .dropdown-content26 a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%;
  }
  
  .show26 {
    display: block;
  }

  
  .b-s37 {
    width: 20px;
    height: 20px;
    border: solid 2px;
    margin-top: 20px;
    margin-left: 15px;
    transition: background-color 0.3s ease;
  }
  
















 


  
  .b-s38 {
    width: 150px;
    height: 100px;
    margin-top: 5px;
    margin-left: 15px;
  
  }
  
  
  
  
  .navbar27 {
    overflow: hidden;
    width: 41%;
    height: 100px;
    border: solid 2px;
    margin-top: 15px;
    margin-left: 15px;
  }
  

  .navbar27 a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown27 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown27.dropbtn27 {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  
  }
  
  
  
  .dropdown-content27 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    opacity: 10;
   margin-left: 930px;
      margin-top: -128px;
      height: 320px;
      
  }
  
  .dropdown-content27 a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%;
  }
  
  .show27 {
    display: block;
  }

  
  .b-s39 {
    width: 20px;
    height: 20px;
    border: solid 2px;
    margin-top: 20px;
    margin-left: 15px;
    transition: background-color 0.3s ease;
  }
  









 


  
  .b-s40 {
    width: 150px;
    height: 100px;
    margin-top: 5px;
    margin-left: 15px;
  
  }
  
  
  
  
  .navbar28 {
    overflow: hidden;
    width: 41%;
    height: 100px;
    border: solid 2px;
    margin-top: 15px;
    margin-left: 15px;
  }
  

  .navbar28 a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown28 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown28.dropbtn28 {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  
  }
  
  
  
  .dropdown-content28 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    opacity: 10;
   margin-left: 930px;
      margin-top: -128px;
      height: 320px;
      
  }
  
  .dropdown-content28 a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%;
  }
  
  .show28 {
    display: block;
  }

  
  .b-s41 {
    width: 20px;
    height: 20px;
    border: solid 2px;
    margin-top: 20px;
    margin-left: 15px;
    transition: background-color 0.3s ease;
  }














































  

  .b-s42{
    width: 70px;
    height: 70px;
  background-color: #ffffff;
  margin-top: -2px;
    margin-left: -8px;
  }
  

  
  .navbar29 {
    overflow: hidden;
    width: 70px;
    height: 70px;
    border: solid 2px;
    border-radius: 100%;
    margin-top: 5px;
    margin-left: 15px;
  
  }
  
  .navbar29 a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown29 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown29.dropbtn29 {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  
  }
  
  
  
  .dropdown-content29 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 32.2%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    opacity: 10;
   
    margin-top: -618.5px;
      height: 320px;
  }
  
  .dropdown-content29 a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 50%;
  }
  
  .show29 {
    display: block;
  }



















  
  .b-s43 {
    width: 150px;
    height: 100px;
    margin-top: 5px;
    margin-left: 15px;
  
  }
  
  
  
  
  .navbar30 {
    overflow: hidden;
    width: 41%;
    height: 100px;
    border: solid 2px;
    margin-top: 15px;
    margin-left: 15px;
  }
  

  .navbar30 a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown30 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown30.dropbtn30 {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  
  }
  
  
  
  .dropdown-content30 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    opacity: 10;
   margin-left: 930px;
      margin-top: -128px;
      height: 320px;
      
  }
  
  .dropdown-content30 a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%;
  }
  
  .show30 {
    display: block;
  }

  
  .b-s44 {
    width: 20px;
    height: 20px;
    border: solid 2px;
    margin-top: 20px;
    margin-left: 15px;
    transition: background-color 0.3s ease;
  }
  
 
  










 


  
  .b-s45 {
    width: 150px;
    height: 100px;
    margin-top: 5px;
    margin-left: 15px;
  
  }
  
  
  
  
  .navbar31 {
    overflow: hidden;
    width: 41%;
    height: 100px;
    border: solid 2px;
    margin-top: 15px;
    margin-left: 15px;
  }
  

  .navbar31 a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown31 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown31.dropbtn31 {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  
  }
  
  
  
  .dropdown-content31 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    opacity: 10;
   margin-left: 930px;
      margin-top: -128px;
      height: 320px;
      
  }
  
  .dropdown-content31 a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%;
  }
  
  .show31 {
    display: block;
  }

  
  .b-s46 {
    width: 20px;
    height: 20px;
    border: solid 2px;
    margin-top: 20px;
    margin-left: 15px;
    transition: background-color 0.3s ease;
  }
  
















 


  
  .b-s47 {
    width: 150px;
    height: 100px;
    margin-top: 5px;
    margin-left: 15px;
  
  }
  
  
  
  
  .navbar32 {
    overflow: hidden;
    width: 41%;
    height: 100px;
    border: solid 2px;
    margin-top: 15px;
    margin-left: 15px;
  }
  

  .navbar32 a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown32 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown32.dropbtn32 {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  
  }
  
  
  
  .dropdown-content32 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    opacity: 10;
   margin-left: 930px;
      margin-top: -128px;
      height: 320px;
      
  }
  
  .dropdown-content32 a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%;
  }
  
  .show32 {
    display: block;
  }

  
  .b-s48 {
    width: 20px;
    height: 20px;
    border: solid 2px;
    margin-top: 20px;
    margin-left: 15px;
    transition: background-color 0.3s ease;
  }
  









 


  
  .b-s49 {
    width: 150px;
    height: 100px;
    margin-top: 5px;
    margin-left: 15px;
  
  }
  
  
  
  
  .navbar33 {
    overflow: hidden;
    width: 41%;
    height: 100px;
    border: solid 2px;
    margin-top: 15px;
    margin-left: 15px;
  }
  

  .navbar33 a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown33 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown33.dropbtn33 {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  
  }
  
  
  
  .dropdown-content33 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    opacity: 10;
   margin-left: 930px;
      margin-top: -128px;
      height: 320px;
      
  }
  
  .dropdown-content33 a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%;
  }
  
  .show33 {
    display: block;
  }

  
  .b-s50 {
    width: 20px;
    height: 20px;
    border: solid 2px;
    margin-top: 20px;
    margin-left: 15px;
    transition: background-color 0.3s ease;
  }


  



  .b-s51 {
    margin-left: 5.5px;
    overflow: hidden;
    width: 301.5px;
    height: 200px;
    border: solid 1px;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
  }


  .ima2 img{
    width: 160px;
  margin-left: 65px;
  }



  .b-s52 {
    margin-left: 5.5px;
    overflow: hidden;
    width: 301.5px;
    height: 200px;
    border: solid 1px;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
  }



  .ima3 img{
    width: 170px;
    margin-top:-6px;
    margin-left: 60px;
  }















  
  
  
  
  
   .navbar34 {
    overflow: hidden;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    width: 135px;
    height: 50px;
    border-radius: 50px;
  border:solid 2px;
    margin-left: 1%;
  }
  
  .navbar34 a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown34 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown34 .dropbtn34 {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  
  }
  
  
  
  .dropdown-content34 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 9%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    opacity: 0.9;
      margin-left: 74%;
      margin-top: 7px;
      
  }
  
  .dropdown-conten34 a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 50%;
  }
  
  
  
  .show34 {
    display: block;
    
  }
  
  .b-s53{
    color: #ffffff;
    font-size: 1.8em;
    margin-top: -7px;
    margin-left: 4px;
  }
  
  
  .b-s55{
    width: 40px;
    height: 40px;
    border: solid 2px;
    background-color: #ff3838;
    border-radius: 100%;
    margin-top: 10px;
    margin-left: 5px;
  }
  
  .b-s56{
    width: 40px;
    height: 40px;
    border: solid 2px;
    background-color: #81d81d;
    border-radius: 100%;
    margin-top: 5px;
    margin-left: 5px;
  }
  
  .b-s57{
    width: 40px;
    height: 40px;
    border: solid 2px;
    background-color: #21cdf8;
    border-radius: 100%;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .b-s58{
    width: 40px;
    height: 40px;
    border: solid 2px;
    background-color: #8d29ff;
    border-radius: 100%;
    margin-top: 5px;
    margin-left: 5px;
  }
  
  .b-s54{
   display: flex;
  }
  
  
  
  






  
  
  .navbar35 {
    overflow: hidden;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    width: 135px;
    height: 50px;
    border-radius: 50px;
  border:solid 2px;
    margin-left: 1.5%;
  }
  
  .navbar35 a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown35 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown35 .dropbtn35 {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  
  }
  
  
  
  .dropdown-content35 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 9%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    opacity: 0.9;
      margin-left: 84.3%;
      margin-top: 7px;
  }
  
  .dropdown-content35 a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 50%;
  }
  
  .show35 {
    display: block;
  }
  
  .b-s59{
    color: #ffffff;
    font-size: 1.8em;
    margin-top: -7px;
    margin-left: 20px;
  }
  
  
  .b-s60{
   display: flex;
  }
  
  
  .b-s61{
    width: 40px;
    height: 40px;
    border: solid 2px;
    border-radius: 100%;
    margin-top: 5px;
    margin-left: 5px;
  }
  
  .b-s62{
    width: 40px;
    height: 40px;
    border: solid 2px;
    border-radius: 100%;
    margin-top: 5px;
    margin-left: 5px;
  }
  
  .b-s63{
    width: 40px;
    height: 40px;
    border: solid 2px;
    border-radius: 100%;
    margin-top: 5px;
    margin-left: 5px;
  }
  
  .b-s64{
    width: 40px;
    height: 40px;
    border: solid 2px;
    border-radius: 100%;
    margin-top: 5px;
    margin-left: 5px;
  }
  
  .b-s65{
  margin-left: 10px;
  }
  
  .b-s66{
    margin-left: 10px;
  }
  
  .b-s67{
    margin-left: 10px; 
  }
  
  .b-s68{
    margin-left: 10px;
  } 